// Colors

$color-primary-light: #9ad3bc;
$color-primary-dark: #0ba366;
$color-secondary-light: #f3eac2; 
$color-secondary-dark: #f5d755; 
$color-tertiary: #f5b461; 
$color-quartary: #ec524b;

$color-black: #000000; 
$color-white: #ffffff;
$color-grey-light: #f7f7f7; 
$color-grey-dark: #eee;

// Font 
$default-font-size: 1.6rem;

// Icon 
$icon-default-font-size: 5rem;

// Grid 

$grid-width: 114rem; 
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;