$color-primary: #000000;
$color-secondary: #52057b; 
$color-tertiary: #892cdc; 
$color-quartary: #bc6ff1;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    letter-spacing: 1rem;
    color: rgb(240, 248, 255);
    font-family: 'Ubuntu Mono', monospace;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to bottom right, 
        rgba($color-primary, 0.8), 
        rgba(lighten($color-primary, 25%), 0.8)), 
        url('../images/erik-mclean-359yV-5925c-unsplash.jpg');
    background-size: cover;
    background-position: top;

    &__text {
        position: absolute; 
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        backface-visibility: hidden;
    }

    & a {
        font-size: x-large;
        font-weight: bolder;
    }
}

.heading-main-text {
    display: block;
    font-size: 5rem;
    animation: moveInFromLeft 1s ease-out;
    margin-bottom: 1rem;
}

.heading-sub-text {
    display: block;
    font-size: 3rem;
    animation: moveInFromRight 1s ease-out;
    margin-bottom: 3rem;
}

@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    50% {
        transform: translatex(110px); 

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    50% {
        transform: translatex(-50px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, 
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .5s;
    border-radius: 10rem;
    position: relative;
}

.btn--white {
    background-color: #ffffff;
    color: #777777;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.6);
}

.btn::after {
    content: ""; 
    display: inline-block;
    height: 100%; 
    width: 100%;
    border-radius: 10rem; 
    position: absolute; 
    top: 0; 
    left: 0;
    z-index: -1;
    transition: all .4s;
 
}

.btn--white::after {
    background-color: #ffffff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s; 
    animation-fill-mode: backwards;
}


