@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./components/button";

@import "./layout/header.scss";

@import "./pages/home.scss";

@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    50% {
        transform: translatex(110px); 

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    50% {
        transform: translatex(-50px)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
