.header {
    height: 95vh;
    background-image: linear-gradient(
        to bottom right, 
        rgba($color-secondary, 0.8), 
        rgba(lighten($color-tertiary, 25%), 0.8)), 
        url('../../images/arc-1.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);

    &__text {
        position: absolute; 
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        backface-visibility: hidden;
    }

    & a {
        font-size: x-large;
        font-weight: bolder;
    }
}