.btn {
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .5s;
        border-radius: 10rem;
        position: relative;
    }

    &--white {
        background-color: #ffffff;
        color: #777777;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.6);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.6);
    }

    &::after {
        content: ""; 
        display: inline-block;
        height: 100%; 
        width: 100%;
        border-radius: 10rem; 
        position: absolute; 
        top: 0; 
        left: 0;
        z-index: -1;
        transition: all .4s;
    
    }

    &--white::after {
        background-color: #ffffff;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s; 
        animation-fill-mode: backwards;
    }
}

.btn-text {
   
    
    &:link,
    &:visited {
        display: inline-block;
        font-size: $default-font-size;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary;
        transition: all .2s;
        color: $color-secondary;
        padding: .3rem;
    }
    
    &:hover {
        background-color: $color-primary;
        color: #ffffff;
        transform: translateY(-10%);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }

    &:active {
        transform: translate(0);
    }
}

