.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; // We can not use clearfix to to fix the issue of the element collapsing on its height. Give the parent and the children the same height

    &__side {
        background-color: $color-tertiary;
        height: 52rem;
        transition: all .8s ease;
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%; // We need 100 percent width of the element will take up the width of the text
        backface-visibility: hidden; // Fix the animation issue since we don't want the element behind to be seen
        border-radius: .5rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }
        &--back {
            background-color: $color-quartary;
            transform: rotateY(180deg);
           
            &--1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark, 25%);
            }

            &--2 {
                background-image: linear-gradient(to right bottom, $color-tertiary, darken($color-tertiary, 25%));
            }

            &--3 {
                background-image: linear-gradient(to right bottom, $color-quartary, darken($color-quartary, 25%));
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../images/card-2.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-tertiary, darken($color-tertiary, 25%)), url(../images/card-1.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-quartary, darken($color-quartary, 25%)), url(../images/card-3.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2.5rem;
        width: 50%;
    }

    &__heading-span {
        font-size: 4rem;
        padding: .2rem 1rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-primary-light, .85),
                rgba($color-primary-dark, .85)
            );
        }

        &--2 {
            background-image: linear-gradient(
                to right bottom, 
                rgba(lighten($color-tertiary, 25%), .85),
                rgba(darken($color-tertiary, 25%), .85)
            );
        }

        &--3 {
            background-image: linear-gradient(
                to right bottom, 
                rgba(lighten($color-quartary, 25%), .85),
                rgba(darken($color-quartary, 25%), .85)
            );
        }
    }

    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-dark;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        p {
            color: $color-white;
        }

        a {
          font-size: 1.5rem;
          font-weight: bolder;
        }
    }


    @include respond(tab-port) {
        height: auto;
        border-radius: .5rem;
        background-color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);

        
        &__details {
            padding-bottom: 5rem;
        }


        &__side {
            height: auto;
            position: relative; 
    
            &--front {
                background-color: $color-white;
            }
            &--back {
                background-color: $color-quartary;
                transform: rotateY(0);
                clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
               
                &--1 {
                    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark, 25%);
                }
    
                &--2 {
                    background-image: linear-gradient(to right bottom, $color-tertiary, darken($color-tertiary, 25%));
                }
    
                &--3 {
                    background-image: linear-gradient(to right bottom, $color-quartary, darken($color-quartary, 25%));
                }
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }
    
        &__cta {
            position: relative;
            transform: translate(-50%, 13%);
            width: 100%;
            padding: 7rem 4rem 10rem 4rem;
            margin-top: -4rem;
   
            p {
                color: $color-white;
                display: none;
            }
    
            a {
              font-size: 1.5rem;
              font-weight: bolder;
            //   position: absolute;
            //   top: 50%;
            //   left: 50%;
            //   transform: translate(-50%, -50%);
            }
        }
          
    }
}
