.feature-box {
    background-color: rgba($color-white, .8);
    text-align: center;
    padding: 2.5rem;
    border-radius: .3rem;
    box-shadow: 0 1.5rem rgba($color-black, .15);
    transition: transform .3s ease-in;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: $icon-default-font-size;
        margin-bottom: .5rem;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-3rem) scale(1.03);
    }
}

