.story {
    width: 75%; 
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1); 
    background-color: $color-white;
    border-radius: 3rem;
    margin-top: $margin-top-lg;
    padding: 6rem 9rem 10rem;
    transform: skew(-15deg);
    font-size: $default-font-size;

    // To make this into a circle, the element needs to be floated and have dimensions. In this case we set a width and height and float to left
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        background-color: orangered; 
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skew(15deg);
    }

    &__image {
        height: 100%;
    }

    &__text {
        transform: skew(15deg);
    }
}