*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    letter-spacing: 1rem;
    color: rgb(240, 248, 255);
    font-family: 'Ubuntu Mono', monospace;
    padding: 3rem;
    box-sizing: border-box;
}