body {
    letter-spacing: 1rem;
    color: rgb(240, 248, 255);
    font-family: 'Ubuntu Mono', monospace;
    padding: 3rem;
}

.heading-main-text {
    display: block;
    font-size: 5rem;
    animation: moveInFromLeft 1s ease-out;
    margin-bottom: 1rem;
}

.heading-sub-text {
    display: block;
    font-size: 3rem;
    animation: moveInFromRight 1s ease-out;
    margin-bottom: 3rem;
}