.section-about {
    background-color: $color-grey-light; 
    padding: 35rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to bottom right, 
        rgba($color-secondary-light, 0.8), 
        rgba(lighten($color-tertiary, 25%), 0.8)), 
        url(../images/arc-6.jpg);
    background-size: cover;
    background-position: center;

    transform: skewY(-7deg);
    margin-top: -11rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-arcades {
    background-color: $color-grey-light; 
    padding-top: 50rem;
    padding-bottom: 1rem;
    margin-top: -23vh;
}

.section-stories {
    padding: 15rem 0;
    position: relative;
    overflow: hidden;
}